<div *ngIf="loading">
  <app-loader></app-loader>
</div>
<div *ngIf="!loading">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Proveedores</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Inicio</a></li>
            <li class="breadcrumb-item active">Proveedores</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="loadingData">
    <section class="content mb-4">
      <div class="container-fluid">
        <div class="card " style="color: rgb(22, 105, 206); ">
          <div class="d-flex justify-content-center" style="text-align: center;">
            <div class="spinner-border mt-4 mb-4" role="status"></div>
            <div class="mt-auto mb-auto" style="margin-left: 10px; ">
              Cargando Información ...
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div *ngIf="!loadingData">
    <section class="content">
      <div class="container-fluid">
        <div class="row mb-4">
          <div class="col-12">
            <div class="row">
              
              <div class="col-3">
                <div class="row inputs">
                  <mat-form-field appearance="fill">
                    <input matInput placeholder="Fitrado Rápido" (keyup)="applyFilterGlobal($event.target['value'])"
                      [disabled]="listadoResult.length === 0" />
                    <mat-hint>Filtrado Rápido</mat-hint>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-4">
              </div>
              <div class="col-5 mb-auto mt-auto ml-auto">
                <!-- [hidden]="listadoResult.length === 0"  -->
                <button mat-raised-button style="background-color: rgb(28, 157, 56); color: #fff;" matTooltip="Exportar"
                  (click)="exportarDatos()" [disabled]="listadoResult.length === 0">
                  <mat-icon>cloud_download</mat-icon>
                  Descargar</button>
                &nbsp;
                <button mat-raised-button style="color: #000;" matTooltip="Buscar" (click)="cargarListaDatos()">
                  <mat-icon>search</mat-icon>
                  Buscar</button>
                &nbsp;
                <button mat-raised-button color="primary" matTooltip="Nuevo Proveedor" (click)="nuevo()">
                  <mat-icon>add_circle</mat-icon>
                  Nuevo</button>
              </div>
            </div>
          </div>
        </div>

        <div class="row" *ngIf="listadoResult.length === 0;">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-body" style="text-align: center;">
                No hay Resultados...
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="listadoResult.length !== 0;">
          <div class="col-sm-12">
            <div class="mat-elevation-z8">
              <table mat-table [dataSource]="dataSource" matSort>
                <ng-container *ngFor="let column of customColumns; let colIndex = index"
                  matColumnDef="{{ column.name }}">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column.label }} </th>
                  <ng-container *matCellDef="let element">
                    <ng-container *ngIf="column.name !== 'actions'; else colActions">
                      <ng-container *ngIf="!column.esFlag">
                        <td mat-cell>{{ element[column.name] }}</td>
                      </ng-container>
                      <ng-container *ngIf="column.esFlag">
                        <td mat-cell *ngIf="element[column.name]"><span class="badge rounded-pill badge-p"
                            style="background-color: rgb(62, 167, 38);">ACTIVO</span></td>
                        <td mat-cell *ngIf="!element[column.name]"><span class="badge rounded-pill badge-p"
                            style="background-color: rgb(232, 66, 37);">INACTIVO</span></td>
                      </ng-container>
                    </ng-container>
                    <ng-template #colActions>
                      <td mat-cell><button mat-icon-button color="primary" matTooltip="Editar registro"
                          (click)="edit(element)">
                          <mat-icon>create</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" matTooltip="Anular registro" (click)="delete(element)">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </td>
                    </ng-template>
                  </ng-container>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>

              <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
</div>